$maxWidthContainer:1200;
// $maxWidth:1920;
$containerWidth:1105;
$minWidth:320; //ставить что бы считало минимальное до этого
$keepSize:0;
$maxWidth:0;
// @include adaptiv-value( "padding" 50, 20, 0, );

// Адаптивное свойство (clamp)
@mixin adaptiveValue($property, $startSize, $minSize, $widthFrom: $containerWidth, $widthTo: $minWidth, $keepSize: 0) {
    @if ($startSize==0) {
        $startSize: 0.000001;
    }

    @if ($minSize==0) {
        $minSize: 0.000001;
    }

    // Для calc();
    $addSize: math.div($startSize - $minSize, 16);



    @if ($widthFrom==$containerWidth and $maxWidthContainer==0) {
        $widthFrom: $maxWidth;
    }

    // Брейк-поинты в EM
    $widthFromMedia: em($widthFrom);
    $widthToMedia: em($widthTo);

    // Формула плавающего значения
    // Источник: https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
    $slope: math.div(($startSize - $minSize), ($widthFrom - $widthTo));
    $yIntersection: -$widthTo * $slope+$minSize;

    @if ($yIntersection==0) {
        $yIntersection: 0.000001;
    }

    $flyValue: #{rem($yIntersection)}" + "#{$slope * 100}vw;

    // Получение значения свойства
    $propertyValue: #{"clamp(" rem($minSize) "," $flyValue "," rem($startSize) ")"};

    // Если отрицательные значения
    @if ($minSize > $startSize) {
        $propertyValue: #{"clamp(" rem($startSize) "," $flyValue "," rem($minSize) ")"};
    }

    // Если поддерживается clamp();
    @supports (#{$property}: $propertyValue) {
        #{$property}: $propertyValue;
    }

    // Если не поддерживается clamp();
    @supports not (#{$property}: $propertyValue) {
        #{$property}: calc(#{rem($minSize)} + #{$addSize} * (100vw - #{rem($widthTo)}) / #{math.div($widthFrom, 16) - math.div($widthTo, 16)});
    }

    // Устанавливаем значения по умолчанию
    @if $widthFrom !=$containerWidth and $widthFrom !=$maxWidth and $keepSize !=1 and $keepSize !=2 {
        @media (min-width: $widthFromMedia) {
            #{$property}: inherit;
        }
    }

    @if $widthTo !=$minWidth and $keepSize !=1 and $keepSize !=3 {
        @media (max-width: $widthToMedia) {
            #{$property}: inherit;
        }
    }
}

//Percent
@function percent($px, $from) {
    $result: math.div($px, $from) * 100%;
    @return $result;
}

// !!!
html {
    font-size: 62.5%;

    @media (max-width: 1200px) {
        font-size: 50%;
    }

    @media (max-width: 768px) {
        font-size: 35%;
    }
}

html,
body {
    height: 100%;
}

// перепроверить!!!
body {
    font-weight: 700;
    font-size: 16px;
    //!!! возможно решил сделать вместо 15 16
    line-height: 1.5;
    color: $black-main;
    font-family: 'REM';
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1105px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: 1200px) {
        font-size: 31px;
    }

    @media (max-width: 992px) {
        font-size: 29px;
    }

    @media (max-width: 768px) {
        font-size: 26px;
    }

    @media (max-width: 576px) {
        font-size: 24px;
    }
}

.section {
    @include adaptiveValue("padding-top", 100, 35);
    @include adaptiveValue("padding-bottom", 100, 35);
}

.btn {
    background: linear-gradient(-45deg, #bb9f5c, #b99b6b, #655a3c);
    white-space: nowrap;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, #968047 0%, #695331 100%);
        opacity: 0;
        transition: all 0.6s ease-in-out;
        border-radius: inherit;
    }

    .span {
        position: relative;
        z-index: 1;
    }

    &:focus {
        color: $focus;
    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    &:active {
        color: $active;
    }
}

// .calls span {
//     color: $brown;
// }

// svg удалить

.calls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    &__time {
        font-size: 12px;
        line-height: 1.2;
        color: $black3;
        margin-right: 60px;

        @media (max-width: 992px) {
            margin-right: 20px;
        }
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
    }

    &__svg {
        margin-right: 5px;
        fill: currentColor;
    }

    &__icon {
        margin-right: 5px;
    }

    &__tel {
        font-weight: 400;
    }

    &__box {
        margin-right: 60px;

        @media (max-width: 992px) {
            margin-right: 20px;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 195px;
        flex-wrap: wrap;

        @media (max-width: 576px) {
            margin: 0 auto;
        }

        &--animation {
            animation-name: link-scale;
            animation-duration: 2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
    }

    &__link {
        transition: color 0.5s ease-out;

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $ac;
        }

        &:active {
            color: $active;
        }

        &--color {
            &:hover {
                color: $black;
            }
        }
    }

    &__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.2;
        color: $black3;
    }

    &__text span {
        color: $brown;
    }
}

.infos {}

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}

@keyframes white-stripe {
    0% {
        right: 120%;
    }

    20% {
        right: -20%;
    }

    100% {
        right: -20%;
    }
}

@keyframes menu-menu {
    0% {

        transform: translateX(0%);
    }

    30% {

        transform: translateX(10%);
    }
}

@keyframes link-scale {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(0.8);
    }
}

@keyframes color-animation {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}