html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: $black-main;
    font-family: 'REM';
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1105px;
    margin: 0 auto;
    padding: 0 15px;

    &--small {
        max-width: 940px;
    }

    &--choice {
        max-width: 790px;
    }
}

.title {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: 1200px) {
        font-size: 31px;
    }

    @media (max-width: 992px) {
        font-size: 29px;
    }

    @media (max-width: 768px) {
        font-size: 26px;
    }

    @media (max-width: 576px) {
        font-size: 24px;
    }
}

.section {
    @include adaptiveValue("padding-top", 100, 45);
    @include adaptiveValue("padding-bottom", 100, 45);
}

.btn {
    background: linear-gradient(-45deg, #bb9f5c, #b99b6b, #655a3c);
    white-space: nowrap;
    position: relative;
    display: block;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, #968047 0%, #695331 100%);
        opacity: 0;
        transition: all .6s;
        border-radius: inherit;
    }

    &__span {
        position: relative;
        z-index: 1;
    }

    &:focus {
        color: $focus;
    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    &:active {
        color: $active;
    }
}

.logo {
    &__menu {
        width: 80px;
        height: 65px;
        object-fit: cover;
    }
}

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}

@keyframes white-stripe {
    0% {
        right: 120%;
    }

    20% {
        right: -20%;
    }

    100% {
        right: -20%;
    }
}

@keyframes menu-menu {
    0% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(10%);
    }
}

@keyframes link-scale {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(.8);
    }
}

@keyframes color-animation {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}