/*$Butler: 'Butler',
sans-serif;*/

$active: trnsporent;
$focus: trnsporent;
$hover:linear-gradient(180deg, #ceb77d 0%, #67563b 100%);

// background: linear-gradient(180deg, #ceb77d 0%, #67563b 100%);

$ac: #fcd7b6;
// $default:$black;
$white: #FFFFFF;
$black: #000000;
$black2: #44403a;
$black3: #2c2c2c;
$black4: #2a2a2a;

$black-main:#363636;
$title: #436372;
$btn-menu:silver;
$silver:#f0f0f0;

$brown:#b9a36b;
$brown2:#af955e;


/*$ac: #fcd7b6;

/*accent*/
// $orange: #FF9900;
// $green:#14B4BE;
// $green:#14B4BE;
// $antique:#fde7d3;
// $default: #243f4d;
// $Cream: #feefe2;
// $Crayola: #c2d2db;
// $red: #e72828;
// $red1 :#fe3e57;
// $orange: #ffa500;


//section
$padding-main:100px;
$padding-1200:60px;
$padding-992:50px; //70
$padding-768:40px; //50
$padding-576:30px;

//REM
@function rem($px) {
    $result: math.div($px, 10) + rem;
    @return $result;
}

@mixin line-height($font-size, $line-height, $px, ) {
    line-height: ($line-height / $font-size);
    font-size: ($font-size + $px);
}
// $fz-btn:rem(16);
// $fz-link2:rem(17);
// $fz-instagram:rem(17);
// $fz-link:rem(18);
// $fz-text:rem(19);
// $fz-input:rem(19);
// $fz-subtext-s:rem(20);
// $fz-subtitle:rem(23);
// $fz-subtext:rem(29);
// $fz-title:rem(37);


// и а глобал
// $fz-btn:rem(11);
// $fz-link2:12px;
// $fz-instagram:12px;
// $fz-link:13px;
// $fz-text:14px;
// $fz-input:14px;
// $fz-subtext-s:15px;
// $fz-subtitle:rem(18);
// $fz-subtext:rem(24);
// $fz-title:rem(33);
// версия пх
// ------------
// $fz-btn:rem(11);

// $fz-link2:rem(12);
// $fz-instagram:rem(12);

// $fz-link:rem(13);
// $fz-link2:rem(13);
// $fz-text:rem(14);
// $fz-input:rem(14);
// $fz-subtext-s:rem(15);

// $fz-subtitle:rem(18);
// $fz-subtext:rem(24);
// $fz-title:rem(33);




// @function percent($px, $from) {
//     $result: math.div($px, $from) * 100%;
//     @return $result;
// }
// padding: rem(30);

//EM
// @function em($px, $current: 16) {
//     $result: math.div($px, $current) + em;
//     @return $result;
// }

// $px:px;




// @mixin line-clamp-box($line-clamp, ) {
//     display: -webkit-box;
//     -webkit-line-clamp: $line-clamp;
//     -webkit-box-orient: vertical;
//     overflow: hidden;
// }

// @mixin line-clamp-inline($line-clamp, ) {
//     display: -webkit-inline-flex;
//     -webkit-line-clamp: $line-clamp;
//     -webkit-box-orient: vertical;
//     overflow: hidden;
// }

// @mixin line-clamp-one($max-width, ) {
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     display: block;
//     max-width: $max-width;
// }

// @mixin line-clamp($line-clamp, ) {
//     display: -webkit-box;
//     -webkit-line-clamp: $line-clamp;
//     -webkit-box-orient: vertical;
//     overflow: hidden;

// }

// @mixin line-height($font-size, $line-height, ) {
//     line-height: ($line-height / $font-size)
// }



// @mixin clamp($font-size,
//     $line-height,
//     $lines-to-show) {
//     // display: block; // Fallback for non-webkit browsers
//     display: -webkit-box;
//     font-size: rem($font-size);
//     max-height: rem(($font-size * $line-height * $lines-to-show)); // Fallback for non-webkit browsers
//     line-height: $line-height;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     -webkit-box-orient: vertical;
//     -webkit-line-clamp: $lines-to-show;
// }



// @mixin line-height($font-size, $line-height, ) {

//     line-height: ( $line-height / $font-size)
// }
/*
@include clamp(5);
*/

// $browser-context: 16;

// @function em($pixels, $context: $browser-context) {
//   @if (unitless($pixels)) {
//     $pixels: $pixels * 1px;
//   }

//   @if (unitless($context)) {
//     $context: $context * 1px;
//   }

//   @return $pixels / $context * 1em;
// }