@use "sass:math";
@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';
//  определиться делать line-height: в ем или в процентах
// плавность градиента

// →

.header {
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    background-color: white;

    // display: flex;
    // justify-content: center;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        @media (max-width: 768px) {
            justify-content: center;
        }
    }

    // !!!одинаковые
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;


    }

    &__text {
        line-height: 1.3;
        font-size: 12px;
        color: #2c2c2c;
        font-weight: 400;
        margin-right: 20px;
    }

    &__logo {
        // margin-right: 20px;
        // margin-right: 80px;
        @include adaptiveValue("margin-right", 80, 20);
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        // max-width: 440px;
        // gap: 60px;
        @media (max-width: 768px) {
            width: 100%;
        }
    }



    &__button {}

    &__btn {
        border: none;
        background-color: transparent;
        order: 1;
        // margin-left: 40px;
        width: 23px;
        height: 22px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        z-index: 10;
        // transition: all 2s;

        // @media (max-width: 575) {
        //     order: 0;
        //     margin-bottom: 20px;
        // }

        span {
            height: 2px;
            width: 100%;
            background-color: $black;
            transition: all 0.5s;
            // какие удалить
            // сформировать норм гайд все в одном
        }

        &::before,
        &::after {
            position: absolute;
            content: '';
            height: 2px;
            width: 100%;
            background-color: $black;
            transition: all 0.5s;
        }

        &::before {
            content: '';
            top: 0;
            transition: all 0.5s;
        }

        &::after {
            bottom: 0;
            transition: all 0.5s;
        }
    }

    &__btn.active span {
        transform: scale(0);
        transition: all 0.5s;
    }

    &__btn.active:before,
    &__btn.active::after {
        background-color: $white;
        transition: all 0.5s;
    }

    &__btn.active:before {
        transform: rotate(45deg);
        top: 9px;

    }

    &__btn.active::after {
        transform: rotate(-45deg);
        bottom: 10px;
    }

    &__menu {
        padding: 65px 0 0 50px;
        // @include adaptiveValue("padding", 50, 20);
        transform: translateX(-200%);
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
        height: 100vh;
        // height: 650px;
        // !!!
        // max-width: 570px;
        transition: transform 1s;

        &.header__menu--active {
            transform: translateX(0%);
            animation-name: menu-menu;
            animation-duration: 0.5s;
            animation-timing-function: linear;
            animation-iteration-count: 1;
        }
    }
}

.close {
    position: fixed;
    top: 6%;
    left: 4.1%;
}

.menu {
    z-index: 5;
    background-color: #2a2a2a;
    color: $white;

    &__logo {
        margin-bottom: 30px;
        display: block;
    }

    &__btn {
        display: none;
    }

    &__items {
        display: flex;
        gap: 25px;
        flex-direction: column;
    }

    &__item {
        outline-color: #000000;
        outline-offset: 5px;
        width: 100%;
    }

    &__link {
        transition: font-size 0.5s;
        font-size: 13px;
        color: $white;
        text-decoration: none;
        opacity: 0.8;
        display: block;

        &:focus {
            color: $focus;
        }

        &:hover {
            font-size: 16px;
            opacity: 1;
            position: relative;

            // сохронить в блоки
            &::after {
                content: "→";
                margin-left: 10px;
                height: 10px;
                width: 10px;
                display: inline-block;
            }
        }

        &:active {
            color: $active;
        }
    }
}

.logo {
    &__menu {
        width: 80px;
        height: 65px;
        object-fit: cover;
    }
}



// проверить все своиства возможно можно оптимизировать
.intro {
    background-image: url('../images/fon.webp');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    // height: calc(rem(650) + 10px);
    display: flex;
    flex-direction: column;
    justify-content: end;

    // @media (max-width: 1200px) {
    //     height: 70vh;
    // }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: -30px;

        @media (max-width: 576px) {
            // justify-content: center;
            display: block;
        }
    }

    &__img {
        width: 460px;
        height: 675px;
        object-fit: cover;
    }

    &__boxs {
        display: flex;
        max-width: 630px;
        margin-bottom: 50px;
    }

    &__box {
        display: flex;
        align-items: center;
    }

    &__calc {
        width: 50px;
        height: 45px;
        object-fit: cover;
        margin-right: 5px;
    }

    &__gift {
        width: 50px;
        height: 53px;
        object-fit: cover;
        margin-right: 5px;
    }

    &__title {
        font-size: 33px;
        line-height: 154%;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__subtext p {
        font-size: 24px;
        line-height: 154%;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    &__subtext span {
        margin-bottom: 20px;
        font-size: 15px;
        padding-left: 60px;
        position: relative;
        display: flex;
        align-items: center;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            height: 1px;
            width: 45px;
            background-color: #000;
            margin-right: 10px;
        }

        // display: flex;
        // align-items: center;
    }

    &__text {
        font-weight: 400;
        max-width: 165px;
        line-height: 1.1;
    }

    &__inner {}

    &__link {
        border-radius: 6px;
        font-size: 12px;
        padding: 24px 0;
        max-width: 465px;
        clip-path: polygon(0 0, 100% 0%, 100% 85%, 53% 100%, 0 85%);
        border: none;
        text-align: center;
        display: block;
        color: $white;
        background: linear-gradient(-45deg, #bb9f5c, #b99b6b, #655a3c);
        line-height: 1.1;
        position: relative;
        animation-name: grat;
        animation-duration: 2.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        background-size: 400% 400%;
        // записсать в анимации
        // должно быть снизу

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            height: 100%;
            width: 100%;
            opacity: 0;
            background: linear-gradient(70deg, #ceb77d 0%, #67563b 100%);
            // transition: all 0.5s;
            // transition: color 0.5s;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 70px;
            width: 65px;
            background-image: url('../images/count.webp');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &:hover {

            // background-position: 40%
            // filter: hue-rotate(-50deg);
            &::after {
                opacity: 1;
            }
        }
    }

    &__link span {
        text-transform: uppercase;
    }
}

.services {
    &__title {
        margin-bottom: 10px;
    }

    &__text {
        text-align: center;
        font-weight: 400;
        font-size: 15px;
        margin-bottom: 65px;

    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 15px;
        // flex-direction: column;
        position: relative;

        @media (max-width: 1200px) {
            justify-content: center;
        }

        &::before {
            content: "";
            position: absolute;
            top: -3%;
            left: -20%;
            height: 415px;
            width: 350px;
            background-image: url('../images/woman.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            // z-index: -1;
        }
    }

    &__item {
        background: #ffffff;
        box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.05);
        max-width: 350px;
        padding: 20px 0 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        // z-index: -1;
    }

    &__img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin-bottom: 20px;
    }

    &__subtitle {
        font-size: 18px;
        margin-bottom: 20px;

    }

    &__subtext {
        font-weight: 400;
        font-size: 13px;
        max-width: 225px;
        margin-bottom: 20px;
        text-align: center;
        line-height: 1.1;
    }

    &__link {
        // border: 1px solid;
        overflow: hidden;
        position: relative;
        max-width: 225px;
        background: linear-gradient(180deg, #b9a36b 0%, #a07f4b 100%);
        border-radius: 25px;
        font-weight: 400;
        font-size: 13px;
        border: none;
        display: block;
        color: #ffffff;
        border-bottom: 2px solid #635136;
        // margin: auto;
        // text-align: center;
        padding: 11px 40px;
        width: 100%;
        text-align: center;
        z-index: 1;
        transition: background 0.5s;

        // span {
        //     z-index: 20;
        // }

        &:after {
            background: #fff;
            content: "";
            height: 155px;
            // left: -75px;
            right: -15px;
            // right: -75px;
            // opacity: .2;
            position: absolute;
            top: -50px;
            transform: rotate(35deg);
            // transition: all 30.5s cubic-bezier(0.19, 1, 0.22, 1);
            width: 25px;
            z-index: -10;
            animation-name: my-animation;
            animation-duration: 3s;
            // animation-delay:5s;
            // animation: move 1s infinite;
            // animation: move 1s infinite ease-in-out;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }

        &:focus {
            color: $focus;
        }

        &:hover {
            background: linear-gradient(180deg, #ceb77d 0%, #67563b 100%);

            // &:after {
            //     left: 120%;
            //     transition: all 5.5s cubic-bezier(0.19, 1, 0.22, 1);
            // }
        }

        &:active {
            color: $active;
        }

        // padding: 10px 100px;

    }
}


.installments {
    background-image: url('../images/installments-bg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // padding: 100px 0 150px 0;

    &__title {
        margin-bottom: 10px;
    }

    &__subtext {
        text-align: center;
        font-weight: 400;
        font-size: 15px;
        margin-bottom: 65px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-evenly;
        gap: 80px 30px;
        flex-wrap: wrap;
    }

    &__item {
        padding: 10px;
        background: $white;
        max-width: 300px;
        width: 100%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: 5%;
            right: 4%;
            height: 125px;
            width: 125px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        &--tel {
            &::before {
                background-image: url('../images/installment/tel.webp');
            }
        }

        &--roulette {
            &::before {
                background-image: url('../images/installment/roulette.webp');
            }
        }


        &--folder {
            &::before {
                background-image: url('../images/installment/folder.webp');
            }
        }

        &--wallet {
            &::before {
                background-image: url('../images/installment/wallet.webp');
            }
        }

        &--like {
            &::before {
                background-image: url('../images/installment/like.webp');
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 12%;
            height: 26px;
            width: 26px;
            border-radius: 50%;
            transition: transform 1s;
            background: linear-gradient(180deg, #b9a36b 0%, #a07f4b 100%);
        }
    }

    &__box {
        padding: 60px 0 0 0;
        min-height: 350px;
        line-height: 1.1;
        border: 3px solid transparent;
        border-image: linear-gradient(to top, transparent 6%, #bbac89 99%);
        border-image-slice: 1;
    }

    &__text {
        padding-left: 15px;
        max-width: 240px;
        font-size: 15px;
    }

    &__text p {
        margin-bottom: 30px;
    }

    &__text span {
        color: #b9a36b;
        font-weight: 700;
    }
}

// доделать анимацию
.cause {
    background-image: url('../images/cause-bg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // padding: 100px 0 60px 0;

    &__wrapper {
        position: relative;
    }

    &__box {
        max-width: 425px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -24%;
            right: -29%;
            height: 195px;
            width: 265px;
            background-image: url('../images/check.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            // z-index: 1;
            // display: inline;
            // cursor: none;
        }

        @media (max-width: 576px) {
            display: none;
        }
    }

    &__title {
        margin-bottom: 15px;
        text-align: start;
    }

    &__text {
        font-weight: 400;
        font-size: 15px;
        // line-height: 154%;
        line-height: 1.5;

    }

    &__text span {
        font-weight: 700;
    }

    &__text p {
        margin-bottom: 30px;
    }

    &__btn {
        max-width: 355px;
        text-align: center;
        font-size: 11px;
        position: relative;
        color: $white;
        text-transform: uppercase;
        border: none;
        padding: 18px 0;
        box-shadow: inset 0 0px 8px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        width: 100%;
        animation-name: grat;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        background-size: 400% 400%;
        z-index: 15;
        // записсать в анимации
        // должно быть снизу



        &::before {
            content: "";
            position: absolute;
            top: -20%;
            left: -10%;
            height: 110px;
            width: 150px;
            background-image: url('../images/drawing.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &:focus {
            color: $focus;
        }

        &:hover {
            background: linear-gradient(180deg, #968047 0%, #695331 100%);
        }

        &:active {
            color: $active;
        }
    }

    &__images {
        position: absolute;
        // top: -100%;
        bottom: -36%;
        right: 0;
        // bottom: 0;
    }

    &__img {
        width: 500px;
        height: 595px;
        object-fit: cover;
    }
}

// потом сделать одинаковые отступы
// не сделал средний слайд шире может и так норм
// проверить все своиства


.trust {
    // padding: 100px 0 60px 0;
    position: relative;
    background-image: url('../images/trust-bg.webp');
    background-position: unset;
    background-size: cover;
    background-repeat: no-repeat;

    &__title {
        max-width: 590px;
        margin: auto auto 15px;
        line-height: 1.1;
        // margin-bottom: 15px;
        // text-align: center;
    }

    &__subtext {
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        margin-bottom: 45px;
    }

    .js-slick {
        // max-width: 1105px;
        // overflow: hidden;
        position: relative;
        // margin: 0 -20px 0px;

        &::before {
            content: "";
            position: absolute;
            bottom: 2%;
            right: 5px;
            height: 165px;
            width: 145px;
            background-image: url('../images/likes.webp');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            z-index: 100;
        }
    }

    // &__items {
    //     display: flex;
    //     // justify-content: space-between;

    //     // записать потом в снипеты куда это записывать
    // }

    &__item {
        padding: 0 20px;
        // height: rem(460);
        // max-width: rem(338);
        // opacity: 0.5;
        padding: 10px;
        background: $white;
        // background: red;
        // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        // padding-top: 20px;
        margin-top: 20px;
        // возможно перенести три своиства
        // height: 525px;
        // height: 500px;
    }

    &__box {
        // height: rem(415);
        border: 3px solid transparent;
        border-image: linear-gradient(to top, transparent 6%, #bbac89 99%);
        border-image-slice: 1;
        // position: relative;
        padding: 40px 16px;
        height: 500px;
    }

    &__subtitle {
        margin-bottom: 10px;
    }

    &__instagram {
        margin-bottom: 35px;
        display: flex;
        align-items: center;
        text-decoration-line: underline;
        font-weight: 400;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.4);
    }

    &__svg {
        margin-right: 5px;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.1;
    }

    &__text p {
        margin-bottom: 20px;
    }
}



// сделать пп и оптимизировать ксс есть что
.advantages {
    // padding: 140px 0 100px;
    // background-color:$white;
    background: url('../images/advantage-bg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__title {
        margin-bottom: 15px;
    }

    &__subtext {
        // margin-bottom: 70px;
        margin-bottom: 40px;
        text-align: center;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;

        @media (max-width: 576px) {
            display: block;
        }
    }

    // !!!!!
    &__itemss {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__items {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 20px;
    }

    &__item {
        width: 245px;
        margin-bottom: 70px;
        position: relative;

        &:nth-child(odd) {
            margin-left: 70px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 8%;
            left: -12%;
            height: 18px;
            width: 18px;
            background: linear-gradient(180deg, #b9a36b 0%, #a07f4b 100%);
            border-radius: 50%;
        }
    }

    // !!!!!!
    &__itemi {
        width: 245px;
        margin-bottom: 70px;
        position: relative;

        &:first-child {
            margin-left: -30px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 8%;
            left: -12%;
            height: 18px;
            width: 18px;
            background: linear-gradient(180deg, #b9a36b 0%, #a07f4b 100%);
            border-radius: 50%;
        }
    }

    &__box {
        // padding: 10px;
        max-width: 390px;
        padding: 5px;
        margin: 0 auto;
        background: #ffffff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
        text-align: center;
        // line-height: 1.7;
    }

    &__wrap {
        padding: 17px 0;
        border: 1px solid transparent;
        border-image: linear-gradient(to top, transparent 6%, #bbac89 99%);
        border-image-slice: 1;
    }

    &__subtitle {
        font-size: 24px;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    &__text p {
        font-weight: 400;
        font-size: 13px;
        // line-height: 154%;
        line-height: 1.5;
    }

    &__text span {
        font-weight: 700;
    }

    &__inner {
        line-height: 1;
    }

    &__img {
        width: 525px;
        height: 650px;
        object-fit: cover;
    }

    &__name {
        font-size: 15px;
        margin-bottom: 5;
    }

    &__info {
        font-weight: 400;
        font-size: 11px;
    }
}

// записать и 2 вариант слайдера 
// не идеальный вариан слайдера н опод другому не получилось потом попробывать
.gallery {
    // padding: 50px 0 150px;
    position: relative;

    &__title {
        margin-bottom: 10px;
    }

    &__wrapper {
        overflow: hidden;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__item {
        padding-left: 30px;
        padding-right: 30px;
    }

    &__text {
        font-weight: 400;
        font-size: 15px;
        text-align: center;
        margin-bottom: 30px;
    }

    &__img {
        width: 300px;
        height: 500px;
        object-fit: cover;
    }
}

// допзадание появление нужного текста в плейсхолдере
.goods-installments {
    background-image: url('../images/installments-bg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // padding: 100px 0 150px;


    &__wrapper {
        // display: flex;
        // justify-content: right;
        // align-items: center;
        position: relative;
    }

    &__images {
        position: absolute;
        // top: 0;
        bottom: -37%;
        left: 0;
        z-index: 100;
    }

    &__img {
        width: 725px;
        height: 815px;
        object-fit: cover;
    }

    &__box {
        max-width: 445px; //!!!
        margin-left: auto;
    }

    &__title {
        margin-bottom: 30px;
        color: #44403a;
        text-align: start;
    }

    &__text {
        margin-bottom: 20px;
    }

    &__text p {
        font-weight: 400;
        font-size: 15px;
        line-height: 154%;
        color: #363636;

    }

    &__text span {
        font-weight: 700;
        // font-size: 15px;
        // line-height: 154%;
        // color: #363636;
    }
}



.form {
    // margin-top: 23px;
    // position: relative;
    // width: 442px;
    padding: 10px;
    background: $white;
    position: relative;

    &::before {
        // content: "";
        position: absolute;
        bottom: -55px;
        right: -45px;
        height: 175px;
        width: 160px;
        background-image: url('../images/ks.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__wrap {
        border: 1px solid transparent;
        border-image: linear-gradient(to top, transparent 6%, #bbac89 99%);
        border-image-slice: 1;
        padding: 45px;
    }

    &__text {
        font-weight: 400;
        margin-bottom: 35px;
    }

    &__input,
    &__btn {
        border: none;
        width: 300px;
        box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        // cursor: pointer;
    }

    &__img {
        position: relative;
        display: block;

        &::before {
            content: "";
            position: absolute;
            bottom: -35px;
            left: 14%;
            height: 15px;
            width: 15px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &--whatsap {
            &::before {
                background-image: url('../images/whatsap.png');
            }
        }

        &--men {
            &::before {
                background-image: url('../images/men.png');
            }
        }
    }

    &__input {
        margin-bottom: 10px;
        padding: 14px 0 22px 75px;
        font-size: 14px;
        color: #44403a;

    }

    &__btn {
        background: linear-gradient(180deg, #b9a36b 0%, #a07f4b 100%);
        text-align: center;
        padding: 15px 0;
        font-size: 13px;
        text-transform: uppercase;
        color: $white;
        transition: all .5;
        margin-bottom: 20px;

        &:focus {
            color: $focus;
        }

        &:hover {
            // !!!плавность
            background: linear-gradient(180deg, #ceb77d 0%, #67563b 100%);
        }

        &:active {
            color: $active;
        }
    }
}

// спорно со спанами можно было сделать отдельный блок или модификатор
.contact {
    background-image: url('../images/contact-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // padding: 40px 0 50px;

    &__wrapper {
        padding: 10px;
        // position: relative;
        // margin: auto;
        // max-width: 1110px;
        background: #ffffff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        position: relative;

        &::before {
            // content: "";
            position: absolute;
            bottom: -8%;
            right: -12%;
            height: 240px;
            width: 240px;
            background-image: url('../images/cont.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    &__box {
        border: 1px solid transparent;
        border-image: linear-gradient(to top, transparent 6%, #bbac89 99%);
        border-image-slice: 1;
        padding: 40px 0 50px;
    }

    &__title {
        margin-bottom: 30px;
        color: #44403a;
    }

    &__info {
        justify-content: space-around;
    }
}

// поменять иконку может быть
.footer {
    padding: 40px 0;
    background: #363636;
    color: $white;

    &__text {
        // max-width: rem(255);
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.1;
        margin-bottom: 30px;
    }

    &__menu {
        gap: 30px;
        display: flex;
        justify-content: space-between;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 576px) {
            overflow: scroll;
        }
    }

    &__text p {
        text-transform: uppercase;
    }

    &__menu {

        margin-bottom: 30px; //!!!
    }

    &__items {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__item {
        outline-color: #000000;
        outline-offset: 5px;
    }

    &__link {
        transition: color 0.5s;
        // font-size: rem(16);
        font-weight: 400;

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $ac;
        }

        &:active {
            color: $active;
        }
    }
}


// !!!!!!
// посистить
.slick {
    $s-base: &;

    /* Slider */
    &-list#{$s-base}-loading {
        // background: #fff url('./loader.gif') center center no-repeat;
        // понять потом что это
    }

    /* Dots */
    &-dots {
        width: 100%;
        // padding: 5% 0 0;
        margin: 0;
        list-style: none;
        text-align: center;

        li {
            display: inline-block;
            position: relative;
            pointer-events: none;

            &:not(#{$s-base}-active) {
                display: none;
            }

            #{$s-base}-dots-current {
                animation: slick-dot-opening .5s;
            }
        }

        @keyframes slick-dot-opening {
            from {
                opacity: 0;
                transform: translateY(100%);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        &-button {
            padding: 0;
            background: none;
            border: none;
            color: inherit;
            cursor: pointer;
            outline: none;
            font-size: 11px;
            letter-spacing: .2em;
        }

        &-current,
        &-total {
            display: inline-block;
        }

        &-separator {
            position: relative;
            margin: 0 1em;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 1px;
                width: 1px;
                height: 2em;
                background: currentColor;
                transform: rotate(7deg) translateY(-50%);
            }
        }
    }

}

// .slick-dots-button {
//     font-size: rem(16);
// стандартные шрифт
// }

.slick-arrow--prev {
    position: absolute;
    left: 0;
    bottom: 0;
}

.slick-arrow--next {
    position: absolute;
    bottom: 0;
}

.slick-dots {
    position: absolute;
    color: #af955e;
    bottom: 0;
    left: 1%;

}

.slick-dots-button {
    // font-size: rem(16);
}

.slick-dots-separator::after {
    height: 1em;
}

.slick-dots-separator::after {
    // right: rem(16);
    transform: rotate(7deg) translateY(-50%);
}

.slick-dots-separator {
    // position: relative;
    margin: 0 5px;
}

.slick-dots-button {
    margin-left: -20px;
    font-size: 16px;
}

// .slick-arrow--next


.slick-arrow--prev,
.slick-arrow--next {
    position: absolute;
    top: inherit;
    bottom: 0;
    height: 20px;
    width: 20px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    z-index: 10;
    font-size: 0;

    &::before {
        content: "";
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        height: 10px;
        width: 7px;
        background-image: url('../images/icons/arrow-right.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.slick-arrow--next {
    right: 45%;

    &::before {
        background-image: url('../images/icons/arrow-right.svg');
    }
}

.slick-arrow--prev {
    left: 45%;

    &::before {
        background-image: url('../images/icons/arrow-left.svg');
    }
}

.slick-active {
    // width: rem(360);
    // max-width: rem(360);
}


.gallerys .slick-slide {
    opacity: 0.7;
}

.gallerys .slick-center {
    margin-top: -15px;
    // margin-left: -5px;
    opacity: 1;
    // height: rem(490);
    // ---
    // width: rem(360); //38
}

.trust__item {
    // width: rem(340);
}

.trust__box {
    // width: rem(340);
    // ---

    // @media (max-width: 1200px) {
    //     max-width: rem(340);
    //     width: 340px;
    // }
}






.slick-prev {
    left: 44%;

    &::before {
        background-image: url('../images/icons/arrow-left.svg');
    }
}

.slick-next {
    right: 46%;

    &::before {
        background-image: url('../images/icons/arrow-right.svg');
    }
}

.slick-prev,
.slick-next {
    position: absolute;
    top: inherit;
    bottom: -6%;
    height: 20px;
    width: 20px;
    cursor: pointer;
    z-index: 10;
    border: none;
    background-color: transparent;
    font-size: 0;

    &::before {
        content: "";
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        height: 10px;
        width: 7px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

// .slick-list {
//     // padding: 0  !important;
// }

.draggable {
    padding: 0 !important;
}

@import 'media';