@use "sass:math";
@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';
//  определиться делать line-height: в ем или в процентах
// плавность градиента

// →




.header {
    padding: rem(10) 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    background-color: white;

    // display: flex;
    // justify-content: center;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
// !!!одинаковые
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        line-height: 1.3;
        font-size: $fz-link2;
        color: #2c2c2c;
        font-weight: 400;
    }

    &__logo {
        margin-right: rem(80);
    }

    &__inner {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        // gap: rem(60);
    }



    &__button {}

    &__btn {
        border: none;
        background-color: transparent;
        order: 1;
        // margin-left: rem(40);
        width: rem(23);
        height: rem(22);
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        z-index: 10;
        // transition: all 2s;

        // @media (max-width: 575) {
        //     order: 0;
        //     margin-bottom: rem(20);
        // }



        span {
            height: rem(2);
            width: 100%;
            background-color: $black;
            transition: all 0.5s;
            // какие удалить
            // сформировать норм гайд все в одном
        }

        &::before,
        &::after {
            position: absolute;
            content: '';
            height: rem(2);
            width: 100%;
            background-color: $black;
            transition: all 0.5s;
        }

        &::before {
            content: '';
            top: 0;
            transition: all 0.5s;
        }

        &::after {
            bottom: 0;
            transition: all 0.5s;
        }
    }

    &__btn.active span {
        transform: scale(0);
        transition: all 0.5s;
    }

    &__btn.active:before,
    &__btn.active::after {
        background-color: $white;
        transition: all 0.5s;
    }

    &__btn.active:before {
        transform: rotate(45deg);
        top: rem(9);

    }

    &__btn.active::after {
        transform: rotate(-45deg);
        bottom: rem(10);
    }

    &__menu {
        padding: rem(65) 0 0 rem(50);
        transform: translateX(-200%);
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
        height: 100vh;
        // max-width: 5rem(70);
        transition: transform 1s;

        &.header__menu--active {
            transform: translateX(0%);
            animation-name: menu-menu;
            animation-duration: 0.5s;
            animation-timing-function: linear;
            animation-iteration-count: 1;
        }
    }
}

.close {
    position: fixed;
    top: 6%;
    left: 4.1%;
}

.menu {
    z-index: 5;
    background-color: #2a2a2a;
    color: $white;

    &__logo {
        margin-bottom: rem(30);
        display: block;
    }

    &__btn {
        display: none;
    }

    &__items {
        display: flex;
        gap: rem(25);
        flex-direction: column;
    }

    &__item {
        outline-color: #000000;
        outline-offset: rem(5);
        width: 100%;
    }

    &__link {
        transition: font-size 0.5s;
        font-size: $fz-link;
        color: $white;
        text-decoration: none;
        opacity: 0.8;
        display: block;

        &:focus {
            color: $focus;
        }

        &:hover {
            font-size: rem(16);
            opacity: 1;
            position: relative;

            // сохронить в блоки
            &::after {
                content: "→";
                margin-left: rem(10);
                height: rem(10);
                width: rem(10);
                display: inline-block;
            }
        }

        &:active {
            color: $active;
        }
    }
}

.logo {
    &__menu {
        width: rem(80);
        height: rem(65);
        object-fit: cover;
    }
}



// проверить все своиства возможно можно оптимизировать
.intro {
    background-image: url('../images/fon.webp');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: end;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: rem(-30);
    }

    &__img {
        width: rem(460);
        height: rem(675);
        object-fit: cover;
    }

    &__boxs {
        display: flex;
        max-width: rem(630);
        margin-bottom: rem(50);
    }

    &__box {
        display: flex;
        align-items: center;
    }

    &__calc {
        width: rem(49);
        height: rem(46);
        object-fit: cover;
        margin-right: rem(5);
    }

    &__gift {
        width: rem(50);
        height: rem(53);
        object-fit: cover;
        margin-right: rem(5);
    }

    &__title {
        font-size: $fz-title;
        line-height: 154%;
        text-transform: uppercase;
        margin-bottom: rem(20);
    }

    &__subtext p {
        font-size: fz-subtext;
        line-height: 154%;
        text-transform: uppercase;
        margin-bottom: rem(40);
    }

    &__subtext span {
        margin-bottom: rem(20);
        font-size: $fz-subtext-s;
        padding-left: rem(60);
        position: relative;
        display: flex;
        align-items: center;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            height: 1px;
            width: rem(44);
            background-color: #000;
            margin-right: rem(10);
        }

        // display: flex;
        // align-items: center;
    }

    &__text {
        font-weight: 400;
        max-width: rem(165);
        line-height: 1.1;
    }

    &__inner {}

    &__link {
        border-radius: rem(6);
        font-size: $fz-link2;
        padding:rem(24) 0;
        max-width: rem(465);
        clip-path: polygon(0 0, 100% 0%, 100% 85%, 53% 100%, 0 85%);
        border: none;
        text-align: center;
        display: block;
        color: $white;
        background: linear-gradient(-45deg, #bb9f5c, #b99b6b, #655a3c);
        line-height: 1.1;
        position: relative;
        animation-name: grat;
        animation-duration: 2.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        background-size: 400% 400%;
        // записсать в анимации
        // должно быть снизу

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            height: 100%;
            width: 100%;
            opacity: 0;
            background: linear-gradient(70deg, #ceb77d 0%, #67563b 100%);
            // transition: all 0.5s;
            // transition: color 0.5s;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: rem(70);
            width: rem(65);
            background-image: url('../images/count.webp');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &:hover {

            // background-position: 40%
            // filter: hue-rotate(-50deg);
            &::after {
                opacity: 1;
            }
        }
    }

    &__link span {
        text-transform: uppercase;
    }
}

.services {
    &__title {
        margin-bottom: rem(10);
    }

    &__text {
        text-align: center;
        font-weight: 400;
        font-size: $fz-subtext-s;
        margin-bottom: rem(65);

    }

    &__items {
        display: flex;
        justify-content: space-between;
        gap: $fz-subtext-s;
        // flex-direction: column;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: -3%;
            left: -20%;
            height: rem(414);
            width: rem(350);
            background-image: url('../images/woman.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            // z-index: -1;
        }
    }

    &__item {
        background: #ffffff;
        box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.05);
        max-width: rem(350);
        padding: rem(20) 0 rem(35);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        // z-index: -1;
    }

    &__img {
        width: rem(200);
        height: rem(200);
        object-fit: cover;
        margin-bottom: rem(20);
    }

    &__subtitle {
        font-size: $fz-subtitle;
        margin-bottom: rem(20);

    }

    &__subtext {
        font-weight: 400;
        font-size: $fz-link;
        max-width: rem(225);
        margin-bottom: rem(20);
        text-align: center;
        line-height: 1.1;
    }

    &__link {
        // border: 1px solid;
        overflow: hidden;
        position: relative;
        max-width: rem(225);
        background: linear-gradient(180deg, #b9a36b 0%, #a07f4b 100%);
        border-radius: 25px;
        font-weight: 400;
        font-size: $fz-link;
        border: none;
        display: block;
        color: #ffffff;
        border-bottom: 2px solid #635136;
        // margin: auto;
        // text-align: center;
        padding: $fz-btn rem(40);
        width: 100%;
        text-align: center;
        z-index: 1;
        transition: background 0.5s;

        // span {
        //     z-index: 20;
        // }

        &:after {
            background: #fff;
            content: "";
            height: rem(155);
            // left: -75px;
            right: rem(-15);
            // right: -75px;
            // opacity: .2;
            position: absolute;
            top: rem(-50);
            transform: rotate(35deg);
            // transition: all 30.5s cubic-bezier(0.19, 1, 0.22, 1);
            width: rem(25);
            z-index: -10;
            animation-name: my-animation;
            animation-duration: 3s;
            // animation-delay:5s;
            // animation: move 1s infinite;
            // animation: move 1s infinite ease-in-out;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }




        &:focus {
            color: $focus;
        }

        &:hover {
            background: linear-gradient(180deg, #ceb77d 0%, #67563b 100%);

            // &:after {
            //     left: 120%;
            //     transition: all 5.5s cubic-bezier(0.19, 1, 0.22, 1);
            // }
        }

        &:active {
            color: $active;
        }

        // padding: rem(10) rem(100);

    }
}


.installments {
    background-image: url('../images/installments-bg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: rem(100) 0 rem(150) 0;

    &__title {
        margin-bottom: rem(10);
    }

    &__subtext {
        text-align: center;
        font-weight: 400;
        font-size: $fz-subtext-s;
        margin-bottom: rem(65);
    }

    &__wrapper {
        display: flex;
        justify-content: space-evenly;
        gap: rem(80) rem(30);
        flex-wrap: wrap;
    }

    &__item {
        padding: rem(10);
        background: $white;
        max-width: rem(300);
        width: 100%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: 5%;
            right: 4%;
            height: rem(125);
            width: rem(125);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        &--tel {
            &::before {
                background-image: url('../images/installment/tel.webp');
            }
        }

        &--roulette {
            &::before {
                background-image: url('../images/installment/roulette.webp');
            }
        }


        &--folder {
            &::before {
                background-image: url('../images/installment/folder.webp');
            }
        }

        &--wallet {
            &::before {
                background-image: url('../images/installment/wallet.webp');
            }
        }

        &--like {
            &::before {
                background-image: url('../images/installment/like.webp');
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 12%;
            height: rem(26);
            width: rem(26);
            border-radius: 50%;
            transition: transform 1s;
            background: linear-gradient(180deg, #b9a36b 0%, #a07f4b 100%);
        }
    }

    &__box {
        padding: rem(60) rem(0) rem(0) rem(0);
        min-height: rem(350);
        line-height: 1.1;
        border: 3px solid transparent;
        border-image: linear-gradient(to top, transparent 6%, #bbac89 99%);
        border-image-slice: 1;
    }

    &__text {
        padding-left: $fz-subtext-s;
        max-width: rem(240);
        font-size: $fz-subtext-s;
    }

    &__text p {
        margin-bottom: rem(30);
    }

    &__text span {
        color: #b9a36b;
        font-weight: 700;
    }
}

// доделать анимацию
.cause {
    background-image: url('../images/cause-bg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: rem(100) 0 rem(60) 0;

    &__wrapper {
        position: relative;
    }

    &__box {
        max-width: rem(425);
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -24%;
            right: -29%;
            height: rem(195);
            width: rem(265);
            background-image: url('../images/check.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            // z-index: 1;
            // display: inline;
            // cursor: none;
        }
    }

    &__title {
        margin-bottom: $fz-subtext-s;
        text-align: start;
    }

    &__text {
        font-weight: 400;
        font-size: $fz-subtext-s;
        // line-height: 154%;
        line-height: 1.5;

    }

    &__text span {
        font-weight: 700;
    }

    &__text p {
        margin-bottom: rem(30);
    }

    &__btn {
        max-width: rem(355);
        text-align: center;
        font-size: $fz-btn;
        position: relative;
        color: $white;
        text-transform: uppercase;
        border: none;
        padding: rem(18) 0;
        box-shadow: inset 0 0px 8px rgba(0, 0, 0, 0.1);
        border-radius: rem(30);
        width: 100%;
        animation-name: grat;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        background-size: 400% 400%;
        z-index: 15;
        // записсать в анимации
        // должно быть снизу



        &::before {
            content: "";
            position: absolute;
            top: -20%;
            left: -10%;
            height: rem(110);
            width: rem(150);
            background-image: url('../images/drawing.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &:focus {
            color: $focus;
        }

        &:hover {
            background: linear-gradient(180deg, #968047 0%, #695331 100%);
        }

        &:active {
            color: $active;
        }
    }

    &__images {
        position: absolute;
        // top: -100%;
        bottom: -36%;
        right: 0;
        // bottom: 0;
    }

    &__img {
        width: rem(500);
        height: rem(595);
        object-fit: cover;
    }
}
// потом сделать одинаковые отступы
// не сделал средний слайд шире может и так норм
// проверить все своиства
.trust {
    padding: rem(100) 0 rem(60) 0;
    position: relative;
    background-image: url('../images/trust-bg.webp');
    background-position: unset;
    background-size: cover;
    background-repeat: no-repeat;

    &__title {
        max-width: rem(590);
        margin: auto auto $fz-subtext-s;
        line-height: 1.1;
        // margin-bottom: $fz-subtext-s;
        // text-align: center;
    }

    &__subtext {
        font-weight: 400;
        font-size: fz-subtext;
        text-align: center;
        margin-bottom: rem(45);
    }

    .js-slick {
        // max-width: 1105px;
        // overflow: hidden;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: 2%;
            right: rem(-5);
            height: rem(165);
            width: rem(145);
            background-image: url('../images/likes.webp');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            z-index: 100;
        }
    }

    // &__items {
    //     display: flex;
    //     // justify-content: space-between;

    //     // записать потом в снипеты куда это записывать
    // }

    &__item {

        // height: rem(460);
        // max-width: rem(338);
        // opacity: 0.5;
        padding: rem(10);
        background: $white;
        // background: red;
        // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        // padding-top: rem(20);
        margin-top: rem(20);
        // возможно перенести три своиства
        // height: 525px;
        // height: 500px;
    }

    &__box {
        // height: rem(415);
        border: rem(3) solid transparent;
        border-image: linear-gradient(to top, transparent 6%, #bbac89 99%);
        border-image-slice: 1;
        // position: relative;
        padding: rem(40) rem(16);
        height: rem(500);
    }

    &__subtitle {
        margin-bottom: rem(10);
    }

    &__instagram {
        margin-bottom: rem(35);
        display: flex;
        align-items: center;
        text-decoration-line: underline;
        font-weight: 400;
        font-size: $fz-instagram;
        color: rgba(0, 0, 0, 0.4);
    }

    &__svg {
        margin-right: rem(5);
    }

    &__text {
        font-weight: 400;
        font-size: $fz-text;
        line-height: 1.1;
    }

    &__text p {
        margin-bottom: rem(20);
    }
}


// сделать пп и оптимизировать ксс есть что
.advantages {
    padding: rem(140) 0 rem(100);
    // background-color:$white;
    background: url('../images/advantage-bg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__title {
        margin-bottom: $fz-subtext-s;
    }

    &__subtext {
        // margin-bottom: rem(70);
        margin-bottom: rem(40);
        text-align: center;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
// !!!!!
    &__itemss {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__items {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__item {
        width: rem(245);
        margin-bottom: rem(70);
        position: relative;

        &:nth-child(odd) {
            margin-left: rem(70);
        }

        &::before {
            content: "";
            position: absolute;
            top: 8%;
            left: -12%;
            height: rem(18);
            width: rem(18);
            background: linear-gradient(180deg, #b9a36b 0%, #a07f4b 100%);
            border-radius: 50%;
        }
    }
// !!!!!!
    &__itemi {
        width: rem(245);
        margin-bottom: rem(70);
        position: relative;

        &:first-child {
            margin-left: rem(-30);
        }

        &::before {
            content: "";
            position: absolute;
            top: 8%;
            left: -12%;
            height: rem(18);
            width: rem(18);
            background: linear-gradient(180deg, #b9a36b 0%, #a07f4b 100%);
            border-radius: 50%;
        }
    }

    &__box {
        // padding: 10px;
        max-width: rem(390);
        padding: rem(5);
        margin: 0 auto;
        background: #ffffff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
        text-align: center;
        // line-height: 1.7;
    }

    &__wrap {
        padding: rem(17) 0;
        border: 1px solid transparent;
        border-image: linear-gradient(to top, transparent 6%, #bbac89 99%);
        border-image-slice: 1;
    }

    &__subtitle {
        font-size: fz-subtext;
        margin-bottom: $fz-subtext-s;
        text-transform: uppercase;
    }

    &__text p {
        font-weight: 400;
        font-size: $fz-link;
        // line-height: 154%;
        line-height: 1.5;
    }

    &__text span {
        font-weight: 700;
    }

    &__inner {
        line-height: 1;
    }

    &__img {
        width: rem(525);
        height: rem(650);
        object-fit: cover;
    }

    &__name {
        font-size: $fz-subtext-s;
        margin-bottom: 5;
    }

    &__info {
        font-weight: 400;
        font-size: $fz-btn;
    }
}

// записать и 2 вариант слайдера 
// не идеальный вариан слайдера н опод другому не получилось потом попробывать
.gallery {
    padding: rem(50) 0 rem(150);
    position: relative;

    &__title {
        margin-bottom: rem(10);
    }

    &__wrapper {
        overflow: hidden;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        gap: rem(30);
    }

    &__item {
        padding-left: rem(30);
        padding-right: rem(30);
    }

    &__text {
        font-weight: 400;
        font-size: $fz-subtext-s;
        text-align: center;
        margin-bottom: rem(30);
    }

    &__img {
        width: rem(300);
        height: rem(500);
        object-fit: cover;
    }
}

// допзадание появление нужного текста в плейсхолдере
.goods-installments {
    background-image: url('../images/installments-bg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: rem(100) 0 rem(150);


    &__wrapper {
        // display: flex;
        // justify-content: right;
        // align-items: center;
        position: relative;
    }

    &__images {
        position: absolute;
        // top: 0;
        bottom: -37%;
        left: 0;
        z-index: 100;
    }

    &__img {
        width: rem(725);
        height: rem(815);
        object-fit: cover;
    }

    &__box {
        max-width: rem(445); //!!!
        margin-left: auto;
    }

    &__title {
        margin-bottom: rem(30);
        color: #44403a;
        text-align: start;
    }

    &__text {
        margin-bottom: rem(20);
    }

    &__text p {
        font-weight: 400;
        font-size: $fz-subtext-s;
        line-height: 154%;
        color: #363636;

    }

    &__text span {
        font-weight: 700;
        // font-size: $fz-subtext-s;
        // line-height: 154%;
        // color: #363636;
    }
}



.form {
    // margin-top: 23px;
    // position: relative;
    // width: 442px;
    padding: rem(10);
    background: $white;
    position: relative;

    &::before {
        // content: "";
        position: absolute;
        bottom: rem(-55);
        right: rem(-45);
        height: rem(175);
        width: rem(160);
        background-image: url('../images/ks.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__wrap {
        border: 1px solid transparent;
        border-image: linear-gradient(to top, transparent 6%, #bbac89 99%);
        border-image-slice: 1;
        padding: rem(45);
    }

    &__text {
        font-weight: 400;
        margin-bottom: rem(35);
    }

    &__input,
    &__btn {
        border: none;
        width: rem(300);
        box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.1);
        border-radius: rem(30);
        // cursor: pointer;
    }

    &__img {
        position: relative;
        display: block;

        &::before {
            content: "";
            position: absolute;
            bottom: rem(-35);
            left: 14%;
            height: $fz-subtext-s;
            width: $fz-subtext-s;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &--whatsap {
            &::before {
                background-image: url('../images/whatsap.png');
            }
        }

        &--men {
            &::before {
                background-image: url('../images/men.png');
            }
        }
    }

    &__input {
        margin-bottom: rem(10);
        padding: rem(14) 0 rem(22) rem(75);
        font-size: $fz-input;
        color: #44403a;

    }

    &__btn {
        background: linear-gradient(180deg, #b9a36b 0%, #a07f4b 100%);
        text-align: center;
        padding: $fz-subtext-s 0;
        font-size: $fz-link;
        text-transform: uppercase;
        color: $white;
        transition: all .5;
        margin-bottom: rem(20);

        &:focus {
            color: $focus;
        }

        &:hover {
            // !!!плавность
            background: linear-gradient(180deg, #ceb77d 0%, #67563b 100%);
        }

        &:active {
            color: $active;
        }
    }
}

// спорно со спанами можно было сделать отдельный блок или модификатор
.contact {
    background-image: url('../images/contact-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: rem(40) 0 rem(50);

    &__wrapper {
        padding: rem(10);
        // position: relative;
        // margin: auto;
        // max-width: 1110px;
        background: #ffffff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        position: relative;

        &::before {
            // content: "";
            position: absolute;
            bottom: -8%;
            right: -12%;
            height: rem(240);
            width: rem(240);
            background-image: url('../images/cont.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    &__box {
        border: 1px solid transparent;
        border-image: linear-gradient(to top, transparent 6%, #bbac89 99%);
        border-image-slice: 1;
        padding: rem(40) 0 rem(50);
    }

    &__title {
        margin-bottom: rem(30);
        color: #44403a;
    }

    &__info {
        justify-content: space-around;
    }
}

// поменять иконку может быть
.footer {
    padding: rem(40) 0;
    background: #363636;
    color: $white;

    &__text {
        // max-width: rem(255);
        text-align: center;
        font-weight: 400;
        font-size: $fz-text;
        line-height: 1.1;
        margin-bottom: rem(30);
    }

    &__menu {
        gap: rem(30);
        display: flex;
        justify-content: space-between;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text p {
        text-transform: uppercase;
    }

    &__menu {

        margin-bottom: rem(30); //!!!
    }

    &__items {
        display: flex;
        justify-content: space-between;
        gap: rem(30);
    }

    &__item {
        outline-color: #000000;
        outline-offset: rem(5);
    }

    &__link {
        transition: color 0.5s;
        // font-size: rem(16);
        font-weight: 400;

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $ac;
        }

        &:active {
            color: $active;
        }
    }
}


// !!!!!!
// посистить
.slick {
    $s-base: &;

    /* Slider */
    &-list#{$s-base}-loading {
        // background: #fff url('./loader.gif') center center no-repeat;
        // понять потом что это
    }

    /* Dots */
    &-dots {
        width: 100%;
        // padding: 5% 0 0;
        margin: 0;
        list-style: none;
        text-align: center;

        li {
            display: inline-block;
            position: relative;
            pointer-events: none;

            &:not(#{$s-base}-active) {
                display: none;
            }

            #{$s-base}-dots-current {
                animation: slick-dot-opening .5s;
            }
        }

        @keyframes slick-dot-opening {
            from {
                opacity: 0;
                transform: translateY(100%);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        &-button {
            padding: 0;
            background: none;
            border: none;
            color: inherit;
            cursor: pointer;
            outline: none;
            font-size: $fz-btn;
            letter-spacing: .2em;
        }

        &-current,
        &-total {
            display: inline-block;
        }

        &-separator {
            position: relative;
            margin: 0 1em;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 1px;
                width: 1px;
                height: 2em;
                background: currentColor;
                transform: rotate(7deg) translateY(-50%);
            }
        }
    }

}

// .slick-dots-button {
//     font-size: rem(16);
// стандартные шрифт
// }

.slick-arrow--prev {
    position: absolute;
    // top: 0;
    left: 0;
    bottom: 0;
}

.slick-arrow--next {
    position: absolute;
    // top: 0;
    // left: 50%;
    bottom: 0;
}

.slick-dots {
    position: absolute;
    // top: 10%;
    bottom: 0;
    color: #af955e;
    left: 1%;

}

.slick-dots-button {
    // font-size: rem(16);
}

.slick-dots-separator::after {
    height: 1em;
}

.slick-dots-separator::after {
    // right: rem(16);
    transform: rotate(7deg) translateY(-50%);
}

.slick-dots-separator {
    // position: relative;
    margin: 0 rem(5);
}

.slick-dots-button {
    margin-left: rem(-20);
    font-size: rem(16);
}

// .slick-arrow--next


.slick-arrow--prev,
.slick-arrow--next {
    position: absolute;
    top: inherit;
    bottom: 0;
    height: rem(20);
    width: rem(20);
    border: 0;
    background-color: transparent;
    cursor: pointer;
    z-index: 10;
    font-size: 0;

    &::before {
        content: "";
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        height: rem(10);
        width: rem(7);
        background-image: url('../images/icons/arrow-right.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.slick-arrow--next {
    right: 45%;

    &::before {
        background-image: url('../images/icons/arrow-right.svg');
    }
}

.slick-arrow--prev {
    left: 45%;

    &::before {
        background-image: url('../images/icons/arrow-left.svg');
    }
}

.slick-active {
    // opacity: 0.7;
    width: rem(360);
    // width: 35.rem;8
    // max-width: rem(360);
    // margin-top: $fz-subtext-s;
}


.gallerys .slick-slide {
    opacity: 0.7;
    // transition: all 300ms ease;
}

.gallerys .slick-center {
    // padding-top: rem(20);
    width: rem(360); //38
    margin-top: rem(-15);
    // margin-left: -5px;
    opacity: 1;
    // height: rem(490);

}

.trust__item {
    // width: rem(340);
}

.trust__box {
    width: rem(340);
}

// div .gallery__items div .slick-slide .slick-current .slick-active .slick-center div {
//     opacity: 1;
//     // transition: all 300ms ease;
// }

//   .gallery__items .slick-center div {
//     // -moz-transform: scale(1.08);
//     // -ms-transform: scale(1.08);
//     // -o-transform: scale(1.08);
//     // -webkit-transform: scale(1.08);
//     // color: #e67e22;
//     opacity: 1 !important;
//     // transform: scale(1.08);
// }

.slick-slide .slick-active .trust__item {}

.trust__item .slick-slide .slick-cloned .slick-active {
    // opacity: 0.7;
}

.slick-slide {
    // opacity: 0.7;
}

.slick-prev {
    left: 44%;

    &::before {
        background-image: url('../images/icons/arrow-left.svg');
    }
}

.slick-next {
    right: 46%;

    &::before {
        background-image: url('../images/icons/arrow-right.svg');
    }
}

.slick-prev,
.slick-next {
    position: absolute;
    top: inherit;
    bottom: -6%;
    height: rem(20);
    width: rem(20);
    cursor: pointer;
    z-index: 10;
    border: none;
    background-color: transparent;
    font-size: 0;

    &::before {
        content: "";
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        height: rem(10);
        width: rem(7);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}



@import 'media';