@use "sass:math";
@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header-fixed {
    background-color: $silver;
}

.header {
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    color: $black3;

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__logo {
        margin-right: 80px;

        @media (max-width: 992px) {
            margin-right: 20px;
        }
    }

    &__text {
        line-height: 1.3;
        font-size: 12px;
        font-weight: 400;
        margin-right: 20px;

        @media (max-width: 568px) {
            display: none;
        }
    }

    &__calls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__time {
        font-size: 15px;
        line-height: 1.2;
        margin-right: 60px;

        @media (max-width: 992px) {
            margin-right: 20px;
        }
    }

    &__inner {
        display: flex;
        align-items: center;
    }

    &__svg {
        margin-right: 5px;
        fill: currentColor;
    }

    &__subtext {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.2;
    }

    &__subtext span {
        color: $brown;
    }

    &__tel {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 195px;
        flex-wrap: wrap;
        margin-right: 60px;

        @media (max-width: 992px) {
            margin-right: 20px;
        }

        @media (max-width: 576px) {
            margin: 0 auto;
        }
    }

    &__link {
        transition: color 0.5s ease-out;
        animation-name: link-scale;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $ac;
        }

        &:active {
            color: $active;
        }
    }

    &__btn {
        border: none;
        background-color: transparent;
        order: 1;
        width: 23px;
        height: 22px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        z-index: 10;

        @media (max-width: 576px) {
            &.active {
                z-index: -100;
            }
        }

        span {
            height: 2px;
            width: 100%;
            background-color: $black;
            transition: all 0.5s;

        }

        &::before,
        &::after {
            position: absolute;
            content: '';
            height: 2px;
            width: 100%;
            background-color: $black;
            transition: all 0.5s;
        }

        &::before {
            content: '';
            top: 0;
        }

        &::after {
            bottom: 0;
        }
    }

    &__menu {
        @include adaptiveValue("padding-top", 65, 20);
        @include adaptiveValue("padding-left", 50, 10);
        transform: translateX(-200%);
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
        height: 100vh;
        transition: transform 1s;

        @media (max-width: 768px) {
            width: 50%;
        }

        @media (max-width: 576px) {
            width: 100%;
        }

        &.header__menu--active {
            transform: translateX(0%);
            animation-name: menu-menu;
            animation-duration: 0.5s;
            animation-timing-function: linear;
            animation-iteration-count: 1;
        }
    }
}

.menu {
    z-index: 5;
    background-color: $black4;
    color: $white;

    &__logo {
        margin-bottom: 30px;
        display: block;
    }

    &__btn {
        display: none;
    }

    &__items {
        display: flex;
        gap: 25px;
        flex-direction: column;

        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }

    &__item {
        outline-color: $black;
        outline-offset: 5px;
        width: 100%;
    }

    &__link {
        transition: font-size 0.5s;
        font-size: 13px;
        color: $white;
        text-decoration: none;
        opacity: 0.8;
        display: block;
        position: relative;
        min-height: 24px;

        &::after {
            content: "→";
            margin-left: 10px;
            height: 10px;
            width: 10px;
            display: inline-block;
            transition: opacity 0.5s;
            opacity: 0;
        }

        &:focus {
            color: $focus;
        }

        &:hover {
            font-size: 16px;

            &::after {
                opacity: 1;
            }
        }

        &:active {
            color: $active;
        }
    }

    &__button {
        background-color: transparent;
        order: 1;
        width: 23px;
        height: 22px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        z-index: 10;
        border: none;
        position: absolute;
        right: 8%;
        top: 7%;

        @media (max-width: 576px) {
            right: 5%;
            top: 5%;
        }

        span {
            height: 2px;
            width: 100%;
            background-color: $white;
            transform: scale(0);
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: $white;
        }

        &::before {
            transform: rotate(45deg);
            top: 9px;
        }

        &::after {
            transform: rotate(-45deg);
            bottom: 10px;
        }
    }

    &__info {
        text-align: center;
        color: $white;
        display: none;

        @media (max-width: 768px) {
            display: block;
        }
    }

    &__time {
        font-size: 12px;
        line-height: 1.2;

        @media (max-width: 768px) {
            margin-bottom: 10px;
        }
    }

    &__inner {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 5px;
    }

    &__svg {
        margin-right: 5px;
    }

    &__call {
        font-weight: 400;
        text-align: start;
    }

    &__box {
        margin-right: 0px;
    }

    &__wrapper {
        display: flex;
        justify-content: start;
        align-items: center;
        max-width: 195px;
        flex-wrap: wrap;
    }

    &__tel {
        transition: color 0.5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $ac;
        }

        &:active {
            color: $active;
        }
    }
}

.logo {
    &__menu {
        width: 80px;
        height: 65px;
        object-fit: cover;
    }
}

.intro {
    background-image: url('../images/fon.webp');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 79vh;
    display: flex;
    flex-direction: column;
    justify-content: end;

    @media (max-width: 1200px) {
        height: 100vh;
    }

    @media (max-width: 992px) {
        justify-content: center;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: -50px;

        @media (max-width: 768px) {
            display: block;
            max-width: 445px;
        }
    }

    &__left {
        margin-right: 20px;
        max-width: 57%;

        @media (max-width: 992px) {
            margin-bottom: 20px;
            max-width: 55%;
        }

        @media (max-width: 768px) {
            max-width: 100%;
            margin-right: 0px;
        }
    }

    &__img {
        height: auto;
        width: 100%;
        max-width: 460px;
        object-fit: cover;

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__wrap {
        display: flex;
        max-width: 630px;
        @include adaptiveValue("margin-bottom", 60, 20);

        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }

    &__box {
        display: flex;
        align-items: center;
    }

    &__gift,
    &__calc {
        width: 50px;
        height: 45px;
        object-fit: cover;
        margin-right: 5px;
    }

    &__gift {
        height: 53px;
    }

    &__title {
        font-size: 33px;
        text-transform: uppercase;
        margin-bottom: 20px;

        @media (max-width: 1200px) {
            font-size: 30px;
        }

        @media (max-width: 992px) {
            font-size: 27px;
        }

        @media (max-width: 768px) {
            font-size: 24px;
        }

        @media (max-width: 576px) {
            font-size: 22px;
            line-height: 1.1;
        }
    }

    &__subtext {
        margin-bottom: 20px;
        line-height: 1.1;
    }

    &__subtext p {
        @include adaptiveValue("font-size", 24, 20);
        line-height: 1.6;
        text-transform: uppercase;
    }

    &__subtext span {
        font-size: 15px;
        padding-left: 60px;
        position: relative;
        display: flex;
        align-items: center;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            height: 1px;
            width: 45px;
            background-color: $black;
            margin-right: 10px;
        }
    }

    &__text {
        font-weight: 400;
        max-width: 165px;
        line-height: 1.1;
    }

    &__link {
        border-radius: 6px;
        font-size: 12px;
        @include adaptiveValue("padding-bottom", 24, 10);
        @include adaptiveValue("padding-top", 25, 10);
        max-width: 465px;
        clip-path: polygon(0 0, 100% 0%, 100% 85%, 53% 100%, 0 85%);
        border: none;
        text-align: center;
        display: block;
        color: $white;
        background: linear-gradient(-45deg, #bb9f5c, #b99b6b, #655a3c);
        line-height: 1.1;
        position: relative;
        animation-name: color-animation;
        animation-duration: 2.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        background-size: 400% 400%;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            height: 100%;
            width: 100%;
            opacity: 0;
            background: linear-gradient(70deg, #ceb77d 0%, #67563b 100%);
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 70px;
            width: 65px;
            background-image: url('../images/count.webp');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    &__link span {
        text-transform: uppercase;
    }
}

.services {
    &__title {
        margin-bottom: 10px;
    }

    &__text {
        text-align: center;
        font-weight: 400;
        font-size: 15px;
        margin-bottom: 65px;
        @include adaptiveValue("margin-bottom", 60, 20);
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
        position: relative;

        @media (max-width: 1200px) {
            justify-content: center;
            gap: 20px 10px;
        }
    }

    &__item {
        background: $white;
        box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.05);
        max-width: 350px;
        padding: 20px 0 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;

        @media (max-width: 576px) {
            padding: 20px 0 20px;
        }

        &--img {
            &::before {
                content: "";
                position: absolute;
                top: -3%;
                left: -65%;
                height: 415px;
                width: 350px;
                background-image: url('../images/woman.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                @media (max-width: 1200px) {
                    top: 44%;
                    left: -22%;
                    height: 200px;
                    width: 150px;
                }

                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
    }

    &__img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin-bottom: 20px;
    }

    &__subtitle {
        font-size: 18px;
        margin-bottom: 20px;
    }

    &__subtext {
        font-weight: 400;
        font-size: 13px;
        max-width: 225px;
        margin-bottom: 20px;
        text-align: center;
        line-height: 1.1;
    }

    &__link {
        overflow: hidden;
        position: relative;
        max-width: 225px;
        background: linear-gradient(180deg, $brown 0%, #a07f4b 100%);
        border-radius: 25px;
        font-weight: 400;
        font-size: 13px;
        border: none;
        display: block;
        color: $white;
        border-bottom: 2px solid #635136;
        padding: 11px 40px;
        width: 100%;
        text-align: center;
        z-index: 1;

        &::before {
            background: $white;
            content: "";
            height: 155px;
            right: -15px;
            position: absolute;
            top: -50px;
            transform: rotate(35deg);
            width: 25px;
            z-index: -10;
            animation-name: white-stripe;
            animation-duration: 3s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
    }
}

.installments {
    background-image: url('../images/installments-bg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__title {
        margin-bottom: 10px;
    }

    &__subtext {
        text-align: center;
        font-weight: 400;
        font-size: 15px;
        @include adaptiveValue("margin-bottom", 65, 20);
    }

    &__wrapper {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        @include adaptiveValue("row-gap", 80, 20);
        @include adaptiveValue("grid-column-gap", 30, 20);
    }

    &__box {
        @include adaptiveValue("padding-top", 60, 20);
        padding-left: 15px;
        padding-right: 15px;
        min-height: 350px;
        line-height: 1.1;
        border: 3px solid transparent;
        border-image: linear-gradient(to top, transparent 6%, #bbac89 99%);
        border-image-slice: 1;

        @media (max-width: 576px) {
            min-height: 300px;
        }
    }

    &__item {
        padding: 10px;
        background: $white;
        max-width: 300px;
        width: 100%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: 5%;
            right: 4%;
            height: 125px;
            width: 125px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        &--tel {
            &::before {
                background-image: url('../images/installment/tel.webp');
            }
        }

        &--roulette {
            &::before {
                background-image: url('../images/installment/roulette.webp');
            }
        }


        &--folder {
            &::before {
                background-image: url('../images/installment/folder.webp');
            }
        }

        &--wallet {
            &::before {
                background-image: url('../images/installment/wallet.webp');
            }
        }

        &--like {
            &::before {
                background-image: url('../images/installment/like.webp');
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 12%;
            height: 26px;
            width: 26px;
            border-radius: 50%;
            transition: transform 1s;
            background: linear-gradient(180deg, $brown 0%, #a07f4b 100%);
        }
    }

    &__text {
        max-width: 240px;
        font-size: 15px;
    }

    &__text p {
        margin-bottom: 30px;
    }

    &__text span {
        color: $brown;
    }
}

.cause {
    background-image: url('../images/cause-bg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__wrapper {
        position: relative;
    }

    &__box {
        max-width: 425px;
        position: relative;


        @media (max-width: 768px) {
            max-width: 305px;
        }

        @media (max-width: 576px) {
            margin: 0 auto;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: -24%;
            right: -29%;
            @include adaptiveValue("height", 195, 50);
            @include adaptiveValue("width", 265, 65);
            background-image: url('../images/check.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            @media (max-width: 1200px) {
                bottom: -15%;
                right: -29%;
                height: 160px;
                width: 215px;
            }

            @media (max-width: 992px) {
                display: none;
            }
        }
    }

    &__title {
        margin-bottom: 15px;
        text-align: start;
    }

    &__text {
        font-weight: 400;
        font-size: 15px;
    }

    &__text span {
        font-weight: 700;
    }

    &__text p {
        @include adaptiveValue("margin-bottom", 30, 20);
    }

    &__btn {
        max-width: 355px;
        text-align: center;
        font-size: 11px;
        position: relative;
        color: $white;
        text-transform: uppercase;
        border: none;
        box-shadow: inset 0 0px 8px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        width: 100%;
        animation-name: grat;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        background-size: 400% 400%;
        z-index: 15;
        @include adaptiveValue("padding-bottom", 18, 10);
        @include adaptiveValue("padding-top", 18, 10);

        &::before {
            content: "";
            position: absolute;
            top: -20%;
            left: -10%;
            @include adaptiveValue("height", 110, 30);
            @include adaptiveValue("width", 150, 35);
            background-image: url('../images/drawing.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            z-index: 20;

            @media (max-width: 768px) {
                left: -5%;
            }
        }
    }

    &__images {
        position: absolute;
        right: 0%;
        line-height: 0;
        bottom: -37%;

        @media (max-width: 576px) {
            display: none;
        }
    }

    &__img {
        width: 100%;
        height: 530px;
        object-fit: contain;

        @media (max-width: 1200px) {
            width: 405px;
            height: 470px;
        }

        @media (max-width: 992px) {
            width: 340px;
            height: 460px;
        }

        @media (max-width: 768px) {
            width: 245px;
            height: 347px;
        }
    }
}

.trust {
    position: relative;
    background-image: url('../images/trust-bg.webp');
    background-position: unset;
    background-size: cover;
    background-repeat: no-repeat;

    &__title {
        max-width: 590px;
        margin: auto auto 15px;
        line-height: 1.1;
    }

    &__subtext {
        font-weight: 400;
        font-size: 13px;
        text-align: center;
        @include adaptiveValue("margin-bottom", 45, 20);
        line-height: 1.1;
    }

    &__slider {
        position: relative;

        @media (max-width: 576px) {
            margin-bottom: 20px;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 2%;
            right: 5px;
            height: 165px;
            width: 145px;
            background-image: url('../images/likes.webp');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            z-index: 100;

            @media (max-width: 1200px) {
                height: 135px;
                width: 115px;
            }

            @media (max-width: 992px) {
                height: 100px;
                width: 90px;
            }

            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    &__item {
        padding: 10px;
        background: $white;
        margin-top: 20px;

        @media (max-width: 576px) {
            margin-top: 0px;
        }
    }

    &__box {
        border: 3px solid transparent;
        border-image: linear-gradient(to top, transparent 6%, #bbac89 99%);
        border-image-slice: 1;
        height: 500px;
        @include adaptiveValue("padding-bottom", 40, 20);
        @include adaptiveValue("padding-top", 40, 40);
        @include adaptiveValue("padding-left", 16, 40);
        @include adaptiveValue("padding-right", 16, 40);

        @media (max-width: 1200px) {
            height: 460px;
        }

        @media (max-width: 992px) {
            height: 425px;
        }

        @media (max-width: 768px) {
            height: 387px;
        }

        @media (max-width: 576px) {
            height: 300px;
        }
    }

    &__subtitle {
        margin-bottom: 10px;
    }

    &__instagram {
        @include adaptiveValue("margin-bottom", 35, 20);
        display: flex;
        align-items: center;
        text-decoration-line: underline;
        font-weight: 400;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.4);
    }

    &__svg {
        margin-right: 5px;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.1;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__text p {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__slider .slick-slide {
        opacity: 0.7;

        @media (max-width: 992px) {
            opacity: 1;
        }
    }

    &__slider .slick-center {
        margin-top: -15px;
        opacity: 1;

        @media (max-width: 992px) {
            margin-top: 0px;
        }
    }
}

.advantages {
    background: url('../images/advantage-bg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__title {
        margin-bottom: 15px;
        max-width: 365px;
        margin: 0 auto;
    }

    &__subtext {
        @include adaptiveValue("margin-bottom", 40, 20);
        text-align: center;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-top: 110px;
        margin-bottom: 180px;

        @media (max-width: 1200px) {
            margin-bottom: 0;
        }

        @media (max-width: 992px) {
            flex-wrap: wrap;
            justify-content: end;
            align-items: flex-start;
            display: block;
            padding-top: 0;
        }

        @media (max-width: 768px) {
            justify-content: center;
            display: flex;
        }

    }


    &__right {
        display: flex;
        justify-content: center;
        flex-direction: column;

        @media (max-width: 1200px) {
            align-items: end;
        }

        @media (max-width: 992px) {
            margin-left: 0px;
            margin-bottom: 20px;
        }
    }

    &__left {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 20px;

        @media (max-width: 1200px) {
            margin-left: 0px;
            align-items: flex-start;
        }

        @media (max-width: 992px) {
            align-items: end;
            margin-bottom: 20px;
        }

        @media (max-width: 768px) {
            margin-right: 20px;
        }
    }

    &__item {
        width: 245px;
        position: relative;
        padding-left: 30px;

        &:not(:last-child) {
            margin-bottom: 80px;

            @media (max-width: 992px) {
                margin-bottom: 20px;
            }
        }

        &:nth-child(odd) {
            margin-left: 80px;

            @media (max-width: 1200px) {
                margin-left: 30px;
            }

            @media (max-width: 992px) {
                margin-left: 0;
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 8%;
            left: 0;
            height: 18px;
            width: 18px;
            background: linear-gradient(180deg, $brown 0%, #a07f4b 100%);
            border-radius: 50%;
        }
    }

    &__itemi {
        width: 245px;
        position: relative;
        padding-left: 30px;

        &:first-child {
            margin-left: -50px;

            @media (max-width: 1200px) {
                margin-left: 0px;
            }
        }

        &:not(:last-child) {
            margin-bottom: 80px;

            @media (max-width: 992px) {
                margin-bottom: 20px;
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 8%;
            left: 0;
            height: 18px;
            width: 18px;
            background: linear-gradient(180deg, $brown 0%, #a07f4b 100%);
            border-radius: 50%;
        }
    }

    &__box {
        max-width: 390px;
        padding: 5px;
        margin: 0 auto;
        background: $white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
        text-align: center;

        @media (max-width: 768px) {
            margin-top: -17px;
        }
    }

    &__wrap {
        @include adaptiveValue("padding-bottom", 17, 10);
        @include adaptiveValue("padding-top", 17, 10);
        border: 1px solid transparent;
        border-image: linear-gradient(to top, transparent 6%, #bbac89 99%);
        border-image-slice: 1;
    }

    &__subtitle {
        font-size: 24px;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    &__text p {
        font-weight: 400;
        font-size: 13px;
    }

    &__text span {
        font-weight: 700;
    }

    &__inner {
        position: absolute;
        top: 2%;
        left: 23%;
        line-height: 1;

        @media (max-width: 1200px) {
            left: 50%;
            transform: translateX(-50%);
        }

        @media (max-width: 992px) {
            order: -1;
            left: 33%;
        }

        @media (max-width: 768px) {
            position: inherit;
            order: 1;
            left: inherit;
            top: inherit;
            transform: inherit;
        }
    }

    &__img {
        width: 552px;
        height: 632px;
        margin-right: 25px;
        object-fit: contain;

        @media (max-width: 1200px) {
            width: 345px;
            height: 434px;
        }

        @media (max-width: 992px) {
            width: 552px;
            height: 575px;
            margin-right: 0px;
        }

        @media (max-width: 768px) {
            width: 245px;
            height: 347px;

        }
    }

    &__name {
        font-size: 15px;
        margin-bottom: 5;
    }

    &__info {
        font-weight: 400;
        font-size: 11px;
    }
}

.gallery {
    position: relative;

    &__title {
        margin-bottom: 10px;
    }

    &__wrapper {
        overflow: hidden;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        @include adaptiveValue("gap", 30, 20);
    }

    &__item {
        padding: 0 30px;

        @media (max-width: 1200px) {
            padding: 0 20px;
        }

        @media (max-width: 576px) {
            padding: 0;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 15px;
        text-align: center;
        @include adaptiveValue("margin-bottom", 30, 20);
        line-height: 1.1;
    }

    &__img {
        width: 100%;
        height: 500px;
        object-fit: cover;

        @media (max-width: 1200px) {
            height: 460px;
        }

        @media (max-width: 992px) {
            height: 425px;
        }

        @media (max-width: 768px) {
            height: 385px;
        }

        @media (max-width: 576px) {
            height: 350px;
            margin: 0 auto;
            display: flex;
            max-width: 300px;
        }
    }
}

.goods-installments {
    background-image: url('../images/installments-bg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__wrapper {
        position: relative;

        @media (max-width: 992px) {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    &__images {
        position: absolute;
        bottom: -26%;
        left: 0%;
        z-index: 100;
        line-height: 0;

        @media (max-width: 992px) {
            display: none;
        }
    }

    &__img {
        width: 675px;
        height: 815px;
        object-fit: cover;

        @media (max-width: 1200px) {
            width: 550px;
            height: 660px;
        }

        @media (max-width: 992px) {
            width: 340px;
            height: 405px;
        }
    }

    &__box {
        max-width: 445px;
        margin-left: auto;

        @media (max-width: 992px) {
            margin: 0 auto;
        }

        @media (max-width: 576px) {
            max-width: 100%;
        }
    }

    &__title {
        @include adaptiveValue("margin-bottom", 30, 20);
        color: $black2;
        text-align: start;
    }

    &__text {
        margin-bottom: 20px;
    }

    &__text p {
        font-weight: 400;
        font-size: 15px;

    }
}

.form {
    padding: 10px;
    background: $white;
    position: relative;
    max-width: 720px;

    @media (max-width: 992px) {
        margin-bottom: 20px;
    }

    @media (max-width: 576px) {
        text-align: center;
    }

    &::before {
        content: "";
        position: absolute;
        right: 0%;
        bottom: 0%;
        transform: translate(50%, 50%);
        @include adaptiveValue("height", 140, 45);
        @include adaptiveValue("width", 125, 40);
        background-image: url('../images/ks.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (max-width: 1200px) {
            right: 8%;
        }

        @media (max-width: 992px) {
            right: 0%;
        }

        @media (max-width: 576px) {
            right: 4%;
        }
    }

    &__wrap {
        border: 1px solid transparent;
        border-image: linear-gradient(to top, transparent 6%, #bbac89 99%);
        border-image-slice: 1;
        @include adaptiveValue("padding", 45, 20);
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__images {
        width: 49%;
        height: 340px;
        object-fit: contain;

        @media (max-width: 576px) {
            display: none;
        }
    }

    &__box {
        width: 51%;

        @media (max-width: 576px) {
            width: 100%;
        }
    }

    &__text {
        font-weight: 400;
    }

    &__text p {
        @include adaptiveValue("margin-bottom", 35, 20);
        font-size: 13px;
    }

    &__text span {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 17px;

        @media (max-width: 576px) {
            font-size: 16px;
        }
    }

    &__input,
    &__btn {
        border: none;
        width: 300px;
        box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.1);
        border-radius: 30px;

        @media (max-width: 576px) {
            width: 100%;
        }
    }

    &__name {
        position: relative;
    }

    &__tel {
        position: relative;
    }

    &__svg {
        position: absolute;
        width: 18px;
        height: 15px;
        top: 3px;
        left: 45px;
    }

    &__input {
        margin-bottom: 10px;
        @include adaptiveValue("padding-bottom", 22, 10);
        @include adaptiveValue("padding-top", 14, 10);
        @include adaptiveValue("padding-left", 75, 20);
        font-size: 14px;
        color: $black2;

        @media (max-width: 1200px) {
            padding-left: 70px;
        }
    }

    &__btn {
        background: linear-gradient(180deg, $brown 0%, #a07f4b 100%);
        text-align: center;
        @include adaptiveValue("padding-bottom", 15, 10);
        @include adaptiveValue("padding-top", 15, 10);
        font-size: 13px;
        text-transform: uppercase;
        color: $white;
        transition: all .5;
        margin-bottom: 20px;
    }
}

.contact {
    background-image: url('../images/contact-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__wrapper {
        padding: 10px;
        background: $white;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: -8%;
            right: -12%;
            @include adaptiveValue("height", 240, 60);
            @include adaptiveValue("width", 240, 60);
            background-image: url('../images/cont.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            @media (max-width: 1200px) {
                right: -1%;
            }

            @media (max-width: 992px) {
                display: none;
            }
        }
    }

    &__box {
        border: 1px solid transparent;
        border-image: linear-gradient(to top, transparent 6%, #bbac89 99%);
        border-image-slice: 1;
        @include adaptiveValue("padding-bottom", 40, 20);
        @include adaptiveValue("padding-top", 40, 20);
    }

    &__title {
        color: $black2;
        @include adaptiveValue("margin-bottom", 30, 20);
    }

    &__calls {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;

        @media (max-width: 576px) {
            display: block;
        }
    }

    &__time {
        font-size: 15px;

        @media (max-width: 992px) {
            margin-right: 20px;
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        margin-bottom: 5px;

        @media (max-width: 576px) {
            justify-content: center;
        }
    }

    &__inner span {
        color: $brown;
    }

    &__svg {
        margin-right: 5px;
    }

    &__tel {
        display: flex;
        justify-content: center;
        max-width: 195px;
        flex-wrap: wrap;

        @media (max-width: 992px) {
            margin-right: 20px;
        }

        @media (max-width: 576px) {
            margin: 0 auto;
        }
    }

    &__link {
        transition: color 0.5s ease-out;
        color: $brown;

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $black;
        }

        &:active {
            color: $active;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.2;
    }
}

.footer {
    background: $black-main;
    color: $white;
    @include adaptiveValue("padding-bottom", 40, 20);
    @include adaptiveValue("padding-top", 40, 20);

    &__text {
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.1;
        @include adaptiveValue("margin-bottom", 30, 20);
    }

    &__menu {
        gap: 30px;
        display: flex;
        justify-content: space-between;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text p {
        text-transform: uppercase;
    }

    &__menu {
        @include adaptiveValue("margin-bottom", 30, 20);
    }

    &__items {
        display: flex;
        justify-content: space-between;
        @include adaptiveValue("gap", 30, 20);

        @media (max-width: 576px) {
            display: block;
        }
    }

    &__item {
        outline-color: $black;
        outline-offset: 5px;
    }

    &__link {
        transition: color 0.5s;
        font-weight: 400;

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $ac;
        }

        &:active {
            color: $active;
        }

        &--svg {
            @media (max-width: 576px) {
                margin-right: 60px;
            }
        }
    }

    &__svg {
        display: block;
    }
}



.slick {
    $s-base: &;

    /* Slider */
    &-list#{$s-base}-loading {
        // понять потом что это
    }

    /* Dots */
    &-dots {
        width: 100%;
        margin: 0;
        // list-style: none;
        text-align: center;

        li {
            display: inline-block;
            position: relative;
            pointer-events: none;

            &:not(#{$s-base}-active) {
                display: none;
            }

            #{$s-base}-dots-current {
                animation: slick-dot-opening .5s;
            }
        }

        @keyframes slick-dot-opening {
            from {
                opacity: 0;
                transform: translateY(100%);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        &-button {
            padding: 0;
            background: none;
            border: none;
            color: inherit;
            cursor: pointer;
            outline: none;
            font-size: 11px;
            letter-spacing: .2em;
        }

        &-current,
        &-total {
            display: inline-block;
        }

        &-separator {
            position: relative;
            margin: 0 1em;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 1px;
                width: 1px;
                height: 2em;
                background: currentColor;
                transform: rotate(7deg) translateY(-50%);
            }
        }
    }
}

.slick-arrow--prev {
    position: absolute;
    left: 0;
    bottom: 0;
}

.slick-arrow--next {
    position: absolute;
    bottom: 0;
}

.slick-dots {
    position: absolute;
    color: $brown2;
    bottom: 0;
    left: 1%;

    @media (max-width: 576px) {
        bottom: -6%;
    }

}

.slick-dots-separator::after {
    height: 1em;
}

.slick-dots-separator::after {
    transform: rotate(7deg) translateY(-50%);
}

.slick-dots-separator {
    margin: 0 5px;
}

.slick-dots-button {
    margin-left: -20px;
    font-size: 16px;
}

.slick-arrow--prev,
.slick-arrow--next {
    position: absolute;
    top: inherit;
    bottom: 0;
    height: 20px;
    width: 20px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    z-index: 10;
    font-size: 0;

    &::before {
        content: "";
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        height: 10px;
        width: 7px;
        background-image: url('../images/icons/arrow-right.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.slick-arrow--next {
    right: 45%;

    @media (max-width: 992px) {
        right: 43%;
    }

    @media (max-width: 768px) {
        right: 41%;
    }

    @media (max-width: 568px) {
        right: 34%;
        bottom: -6%;
    }

    &::before {
        background-image: url('../images/icons/arrow-right.svg');
    }
}

.slick-arrow--prev {
    left: 45%;

    @media (max-width: 992px) {
        left: 42%;
    }

    @media (max-width: 768px) {
        left: 39%;
    }

    @media (max-width: 568px) {
        left: 29%;
        bottom: -6%;
    }

    &::before {
        background-image: url('../images/icons/arrow-left.svg');
    }
}

.slick-prev {
    left: 44%;

    @media (max-width: 992px) {
        left: 41%;
    }

    @media (max-width: 768px) {
        left: 39%;
    }

    @media (max-width: 568px) {
        left: 36%;
    }

    &::before {
        background-image: url('../images/icons/arrow-left.svg');
    }
}

.slick-next {
    right: 46%;

    @media (max-width: 992px) {
        right: 43%;
    }

    @media (max-width: 768px) {
        right: 39%;
    }

    @media (max-width: 568px) {
        right: 36%;
    }

    &::before {
        background-image: url('../images/icons/arrow-right.svg');
    }
}

.slick-prev,
.slick-next {
    position: absolute;
    top: inherit;
    bottom: -6%;
    height: 20px;
    width: 20px;
    cursor: pointer;
    z-index: 10;
    border: none;
    background-color: transparent;
    font-size: 0;

    @media (max-width: 1200px) {
        bottom: -10%;
    }

    @media (max-width: 576px) {
        bottom: -8%;
    }

    &::before {
        content: "";
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        height: 10px;
        width: 7px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.draggable {
    padding: 0 !important;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    backdrop-filter: blur(4rem);
    transition: opacity 0.5s,
        overflow 0.5s;
    opacity: 0;
    z-index: -100;
}

.modal-open {
    opacity: 1;
    z-index: 300;
}