.footer {
    background: $black-main;
    color: $white;
    padding: 40px 0px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text {
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.1;
        margin-bottom: 30px;
    }

    &__text span {
        text-transform: uppercase;
    }

    &__menu {
        @include adaptiveValue("margin-bottom", 30, 20);
        gap: 30px;
        display: flex;
        justify-content: space-between;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        @include adaptiveValue("gap", 30, 20);

        @media (max-width: 576px) {
            display: block;
        }
    }

    &__item {
        outline-color: $black;
        outline-offset: 5px;
        
    }

    &__link {
        transition: color .5s;
        font-weight: 400;

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $ac;
        }

        &:active {
            color: $active;
        }

        &--svg {
            @media (max-width: 576px) {
                margin-right: 60px;
                font-weight: 400;
            }
        }

        &--document {
            text-decoration: underline;
            color: $brown3;
            font-size: 14px;
        }
    }

    &__svg {
        display: block;

        &:focus {
            color: $focus;
        }

        &:hover {
            path {
                fill: $ac;
            }
        }

        &:active {
            color: $active;
        }
    }
}