.goods-installments {
    background-image: url('../images/installments-bg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 1200px) {
        overflow: hidden;
    }

    &__wrapper {
        position: relative;

        @media (max-width: 992px) {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    &__images {
        position: absolute;
        bottom: -145px;
        left: 0;
        z-index: 100;
        line-height: 0;

        @media (max-width: 1200px) {
            bottom: -137px;
        }

        @media (max-width: 992px) {
            display: none;
        }
    }

    &__img {
        width: 675px;
        height: 815px;


        object-fit: cover;

        @media (max-width: 1200px) {
            width: 550px;
            height: 660px;
        }
    }

    &__box {
        max-width: 445px;
        margin-left: auto;

        @media (max-width: 992px) {
            margin: 0 auto;
        }

        @media (max-width: 576px) {
            max-width: 100%;
        }
    }

    &__title {
        @include adaptiveValue("margin-bottom", 30, 20);
        color: $black2;
        text-align: start;
    }

    &__text {
        margin-bottom: 20px;
    }

    &__text p {
        font-weight: 400;
        font-size: 15px;

    }
}